<div class="spacer" data-bsi-hide-edit-button="true">
  <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" height="{{ _spacerHeight ? _spacerHeight : '40' }}">
    <tbody>
      <tr height="{{ _spacerHeight ? _spacerHeight : '40' }}">
        <td height="{{ _spacerHeight ? _spacerHeight : '40' }}" width="100%" style="background-color: #F6F6F6; font-size: {{ _spacerHeight ? _spacerHeight : '40' }}px; line-height: {{ _spacerHeight ? _spacerHeight : '40' }}px;">&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>
