<div {{ _isBsiElement ? 'data-bsi-element="content-wrapper"' : '' }} style="background-color: {{ _backgroundColor }}">
    <table border="0" cellpadding="0" cellspacing="0" width="{{ _isFullWidth ? '600' : '530' }}" align="center" style="background-color: {{ _backgroundColor }}">
        <tbody>
            <tr>
                <td style="background-color: {{ _backgroundColor }}">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="{{ styles['content-width'] }}" style="
              background-color: {{ _backgroundColor }}">
                        <tbody>
                            <tr>
                                <td width="{{ styles['content-width'] }}" data-bsi-dropzone="{{ _dropzoneName }}" align="{{ _item_align }}" style="padding-bottom: 10px;                   
   
        background-color: {{ _backgroundColor }}">
                                    {% block contentWrapper %}

                                    {% endblock %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
