<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ properties.title }}</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta name="google" content="notranslate" />
        <link rel="stylesheet" href="{{ bsi_cx_css_href() }}" />
        <!--    [if gte mso 9]>

<xml>

<o:OfficeDocumentSettings>

<o:AllowPNG/>

<o:PixelsPerInch>96</o:PixelsPerInch>

</o:OfficeDocumentSettings>

</xml>

<![endif]    -->
    </head>
    <body>
        {# Header Container #}
        {% set headercontent %}
            {% block headercontentcontainer %}

            {% endblock %}
        {% endset %}
        {% embed 'content-elements/layout-components/container-wrapper/template.twig' with { _dropzoneName: 'header_container', _hideRemoveButton: false, _hideCopyButton: true, _hideMoveButton: true } %}
            {% block container %}
                {{ headercontent }}
            {% endblock %}
        {% endembed %}

        {# Body Container #}
        {% set bodycontent %}
            {% block bodycontentcontainer %}

            {% endblock %}
        {% endset %}
        {% embed 'content-elements/layout-components/container-wrapper/template.twig' with { _dropzoneName: 'container' } %}
            {% block container %}
                {{ bodycontent }}
            {% endblock %}
        {% endembed %}

        {# Footer Container #}
        {% set footercontent %}
            {% block footercontentcontainer %}

            {% endblock %}
        {% endset %}
        {% embed 'content-elements/layout-components/container-wrapper/template.twig' with { _dropzoneName: 'footer_container', _hideRemoveButton: false, _hideCopyButton: true, _hideMoveButton: true } %}
            {% block container %}
                {{ footercontent }}
            {% endblock %}
        {% endembed %}
    </body>
</html>
